<% if obj.errors.any? %>
  <div style="color: red; margin-bottom: 15px;">
    <h4><%= obj.errors.count %>件のエラーがあります：</h4>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>